.sideBar{
    flex: 1;
    height: calc(100vh - 50px);
    background-color: 	whitesmoke;
    position: sticky;
    top: 50px;
}
.sidebarWrapper{
    color: #2C7857;
    padding: 20px;
}
.sidebarMenu{
    margin-bottom: 10px;
}
.sidebarTitle{
    font-size: 23px;
    color: #2C7857;
}
.sidebarList{
    list-style-type: none;
    padding: 5px;
}
.sidebarlistItems{
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
}
.sidebarlistItems.active, .sidebarlistItems:hover{
    background-color: #2C7857;
    color: #fff;
}
.sidebarIcon{
    margin-right: 5px;
    font-size: 20px;
}
.logoutS{
    color: #2C7857;
    background-color: white;
    padding: 4px;
    margin-left: 5px;
    border-radius: 10%;
    margin-top: 25px;
    border-color: #2C7857;
    cursor: pointer;
    border: 2px solid #2C7857;
    width: 100px;
}
.logoutS:hover{
    background-color: #2C7857;
    color: white;
    border: 2px solid white;
}

























































































































