.widgetSm{
    flex: 1;
    box-shadow: 10px 10px 78px 18px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 78px 18px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 78px 18px rgba(0,0,0,0.75);
padding: 20px;
margin-right: 20px;
border-radius: 10px;
}
.widgetSmTitle{
    font-size: 32px;
    font-weight: 600;
}
.widgetSmImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.widgetSmList{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.widgetListItems{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 20px 0px;
}
.widgetSmUser{
    display: flex;
    flex-direction: column;
}
.widgetSmUsername{
    font-weight: 600;
}
.widgetSmSer{
    font-weight: 300;
}
.widgetSmBtn{
    display: flex;
    align-items: center;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: #008000;
    cursor: pointer;
}
.widgetSmBtn:hover{
    background-color: #fff;
    color: #008000;
}
.widgetSmIcon{
    font-size: 16px;
    margin-right: 5px;
}
@media(max-width:690px){
    .widgetSm{
        display: inline-block;
    }
}