.adminList{
    flex: 4;
}
.adminListItem{
    display: flex;
    align-items: center;
}
.adminListAdmin{
    display: flex;
    flex-direction: row;
}
.adminListIm{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    margin-top: 8px;
}
.adminListEdit{
    border:none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #2C7857;
    cursor: pointer;
    margin-right: 20px; 
}
.adminListDelete{
    color: brown;
    cursor: pointer;
}