.admin{
    flex:4;
    padding:4px
}
.adminTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.adminAddButton{
    width: 80px;
    border: none;
    padding: 5px;
    background-color: #2C7857;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: white;
}
.adminTitle{
    font-weight: 700;
}
.adminContainer{
    display: flex;
    margin-top: 20px;
}
.adminShow{
    flex:1;
    padding: 20px;
    box-shadow: -88px 16px 186px 30px rgba(0,0,0,0.75);
-webkit-box-shadow: -88px 16px 186px 30px rgba(0,0,0,0.75);
-moz-box-shadow: -88px 16px 186px 30px rgba(0,0,0,0.75);
}
.adminUpdate{
    flex:2;
    padding: 20px;
    margin-left: 5px;
    box-shadow: -8px 15px 186px 30px rgba(0,0,0,0.75);
    -webkit-box-shadow: -8px 15px 186px 30px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px 15px 186px 30px rgba(0,0,0,0.75);
}
.adminShowTop{
    display: flex;
    align-items: center;
    padding: 20px;
 
}
.adminShowImg{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.adminShowTitle{
    display: flex;
    flex-direction: column;
    margin-left: 20px;

}
.adminShowUsername{
    font-weight: 600;
}
.adminShowemail{
    font-weight: 300;
}
.adminShowBottom{
    margin-top: 20px;
}
.adminShowTitle{
    font-size: 14px;
    font-weight: 400;
    color: #111;
}
.adminShowInfo{
    display: flex;
    color: black;
    margin: 20px 0;
    align-items: center;
}
.adminShowIcon{
    font-size: 16px !important;
}
.adminShowInfotitle{
    margin-left: 10px;
}
.adminUpdateForm{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.adminUpdateTitle{
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
}
.adminUpdateItem{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.adminUpdateItem>label{
    margin-bottom: 5px;
    font-size: 15px;
}
.adminUpdateInput{
    border: none;
    width: 150px;
    height: 30px;
    border-bottom: 1px solid #2C7857;
}
.adminUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.adminUpdateUpload{
    display: flex;
    align-items: center;
}
.adminUpdateIcon{
    cursor: pointer;
}
.adminUpdateImg{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}
.adminUpdateButn{
  border-radius: 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
  background-color: #2C7857;
  color: white;
  font-weight: 600;
}
